:root > * {
    --md-primary-fg-color:        rgb(0, 77, 92);
    --md-primary-fg-color--light: rgb(0, 139, 167);
    --md-primary-fg-color--dark:  rgb(0, 77, 92);
  }

html{
    scroll-behavior: smooth;
}